<html>
    <head>
        <link rel="stylesheet" href="../static/css/stylesheet.css">
    </head>
    <body>
        <div id="logo">
            <img id="logosrc" src="../static/img/CURART_WIDE.png">
        </div>
        <div id="loading"></div>
    <div id="content">
      <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit" onclick="changeImage();"/>
      </form>
    </div>
    <script> 
        function changeImage(){
        var img = document.getElementById("logosrc");
        img.src="/static/img/loading.gif";
        return false;
        }

    </script>
   </body>
</html>
