div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/static/img/loading.gif) no-repeat;
    cursor: wait;
    }

div#content {
    width: 400px;
    height: 300px;
    background-color: #B0FAD4;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    }

div#logo {
    margin: 0 auto;
    text-align: center;
}

div#button{
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

body {
    background-color: #4A6882;
    }
